body {
    background-color: ecru;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 1vmin;
  margin: 0 auto;
  text-align: center;
}

div {
  border: 1px solid lightgray;
  font-size: 8vmin;
  vertical-align: middle;
  text-align: center;
}

#replay-button {
  margin: 0 auto;
  margin-top: 3vmin;
  font-family: 'Source Sans Pro', sans-serif;
}

